In [16]:
import pandas as pd
import os
from pathlib import Path
import numpy as np

In [13]:
df = pd.read_csv(os.path.join('F:\iNeuron\Projects\Data\Scania Truck Failures','aps_failure_training_set.csv'))

In [14]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [17]:
df['class'] = df['class'].map({'neg':0,'pos':1})
df.replace('na',np.nan,inplace=True)
col_list = [i for i in df.columns if i != 'class']
for i in col_list:
    df[i]=df[i].astype('float')

In [18]:
df.describe()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
count,0.0,6.000000e+04,13671.000000,5.666500e+04,4.513900e+04,57500.000000,57500.000000,5.932900e+04,5.932900e+04,5.932900e+04,...,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,5.932900e+04,57276.000000,57277.000000
mean,NaN,5.933650e+04,0.713189,3.560143e+08,1.906206e+05,6.819130,11.006817,2.216364e+02,9.757223e+02,8.606015e+03,...,4.454897e+05,2.111264e+05,4.457343e+05,3.939462e+05,3.330582e+05,3.462714e+05,1.387300e+05,8.388915e+03,0.090579,0.212756
std,NaN,1.454301e+05,3.478962,7.948749e+08,4.040441e+07,161.543373,209.792592,2.047846e+04,3.420053e+04,1.503220e+05,...,1.155540e+06,5.433188e+05,1.168314e+06,1.121044e+06,1.069160e+06,1.728056e+06,4.495100e+05,4.747043e+04,4.368855,8.830641
min,NaN,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,NaN,8.340000e+02,0.000000,1.600000e+01,2.400000e+01,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,2.936000e+03,1.166000e+03,2.700000e+03,3.584000e+03,5.120000e+02,1.100000e+02,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,NaN,3.077600e+04,0.000000,1.520000e+02,1.260000e+02,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,2.337960e+05,1.120860e+05,2.215180e+05,1.899880e+05,9.243200e+04,4.109800e+04,3.812000e+03,0.000000e+00,0.000000,0.000000
75%,NaN,4.866800e+04,0.000000,9.640000e+02,4.300000e+02,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,4.383960e+05,2.182320e+05,4.666140e+05,4.032220e+05,2.750940e+05,1.678140e+05,1.397240e+05,2.028000e+03,0.000000,0.000000
max,NaN,2.746564e+06,204.000000,2.130707e+09,8.584298e+09,21050.000000,20070.000000,3.376892e+06,4.109372e+06,1.055286e+07,...,7.793393e+07,3.775839e+07,9.715238e+07,5.743524e+07,3.160781e+07,1.195801e+08,1.926740e+07,3.810078e+06,482.000000,1146.000000

# Test Data

In [27]:
os.path.join('F:\iNeuron\Projects\Scania_Truck_Failures\\artifacts\data\raw','train_data1.csv')

'F:\\iNeuron\\Projects\\Scania_Truck_Failures\\artifacts\\data\raw\\train_data1.csv'

In [36]:
df_1 = pd.read_csv('..\\artifacts\\data\\raw\\train_data1.csv')
df_2 = pd.read_csv('..\\artifacts\\data\\raw\\train_data2.csv')
df_3 = pd.read_csv('..\\artifacts\\data\\raw\\train_data3.csv')

In [37]:
test_data_merger_1 = pd.merge(left = df_1,
                              right = df_2,
                              how = 'outer',
                              on = 'ident_id')
test_data_merger_final = pd.merge(left = test_data_merger_1,
                                  right = df_3,
                                  how = 'outer',
                                  on = 'ident_id')
test_data_merger_final_copy = test_data_merger_final.copy()

In [38]:
import numpy as np
test_data_merger_final_copy.drop(columns='ident_id',inplace=True)
test_data_merger_final_copy.rename(columns={'field_74_':'class'},inplace=True)
test_data_merger_final_copy['class'] = test_data_merger_final_copy['class'].map({'neg':0,'pos':1})
test_data_merger_final_copy.replace('na',np.nan,inplace=True)
test_col_list = [i for i in test_data_merger_final_copy.columns if i != 'class']
for i in test_col_list:
    test_data_merger_final_copy[i]=test_data_merger_final_copy[i].astype('float')

In [44]:
check_df = test_data_merger_final_copy.drop(columns='class').describe()==df.drop(columns='class').describe()
for i in check_df.columns:
    print(i,check_df[i].unique())

aa_000 [ True]
ab_000 [ True]
ac_000 [ True]
ad_000 [ True]
ae_000 [ True]
af_000 [ True False]
ag_000 [ True]
ag_001 [ True False]
ag_002 [ True]
ag_003 [ True]
ag_004 [ True]
ag_005 [ True]
ag_006 [ True]
ag_007 [ True]
ag_008 [ True]
ag_009 [ True]
ah_000 [ True]
ai_000 [ True False]
aj_000 [ True False]
ak_000 [ True False]
al_000 [ True False]
am_0 [ True]
an_000 [ True False]
ao_000 [ True]
ap_000 [ True]
aq_000 [ True]
ar_000 [ True]
as_000 [ True False]
at_000 [ True False]
au_000 [ True]
av_000 [ True]
ax_000 [ True]
ay_000 [ True False]
ay_001 [ True False]
ay_002 [ True False]
ay_003 [ True False]
ay_004 [ True]
ay_005 [ True]
ay_006 [ True False]
ay_007 [ True False]
ay_008 [ True]
ay_009 [ True False]
az_000 [ True False]
az_001 [ True]
az_002 [ True]
az_003 [ True]
az_004 [ True False]
az_005 [ True]
az_006 [ True]
az_007 [ True]
az_008 [ True]
az_009 [ True False]
ba_000 [ True False]
ba_001 [ True]
ba_002 [ True False]
ba_003 [ True]
ba_004 [ True]
ba_005 [ True]
ba_006 [ True]
ba_007 [ True]
ba_008 [ True]
ba_009 [ True]
bb_000 [ True False]
bc_000 [ True False]
bd_000 [ True]
be_000 [ True]
bf_000 [ True]
bg_000 [ True]
bh_000 [ True]
bi_000 [ True False]
bj_000 [ True]
bk_000 [ True]
bl_000 [ True]
bm_000 [ True]
bn_000 [ True]
bo_000 [ True]
bp_000 [ True]
bq_000 [ True]
br_000 [ True False]
bs_000 [ True]
bt_000 [ True]
bu_000 [ True]
bv_000 [ True]
bx_000 [ True False]
by_000 [ True False]
bz_000 [ True]
ca_000 [ True]
cb_000 [ True]
cc_000 [ True False]
cd_000 [ True]
ce_000 [ True]
cf_000 [ True]
cg_000 [ True]
ch_000 [ True False]
ci_000 [ True False]
cj_000 [ True False]
ck_000 [ True False]
cl_000 [ True False]
cm_000 [ True]
cn_000 [ True]
cn_001 [ True]
cn_002 [ True]
cn_003 [ True False]
cn_004 [ True]
cn_005 [ True]
cn_006 [ True]
cn_007 [ True]
cn_008 [ True]
cn_009 [ True]
co_000 [ True False]
cp_000 [ True]
cq_000 [ True]
cr_000 [ True False]
cs_000 [ True]
cs_001 [ True False]
cs_002 [ True]
cs_003 [ True]
cs_004 [ True]
cs_005 [ True]
cs_006 [ True]
cs_007 [ True False]
cs_008 [ True]
cs_009 [ True]
ct_000 [ True False]
cu_000 [ True]
cv_000 [ True]
cx_000 [ True False]
cy_000 [ True]
cz_000 [ True]
da_000 [ True False]
db_000 [ True False]
dc_000 [ True False]
dd_000 [ True]
de_000 [ True]
df_000 [ True]
dg_000 [ True]
dh_000 [ True]
di_000 [ True]
dj_000 [ True]
dk_000 [ True]
dl_000 [ True]
dm_000 [ True]
dn_000 [ True False]
do_000 [ True]
dp_000 [ True]
dq_000 [ True]
dr_000 [ True]
ds_000 [ True False]
dt_000 [ True False]
du_000 [ True]
dv_000 [ True]
dx_000 [ True]
dy_000 [ True]
dz_000 [ True]
ea_000 [ True]
eb_000 [ True]
ec_00 [ True]
ed_000 [ True]
ee_000 [ True]
ee_001 [ True]
ee_002 [ True]
ee_003 [ True]
ee_004 [ True False]
ee_005 [ True False]
ee_006 [ True]
ee_007 [ True False]
ee_008 [ True False]
ee_009 [ True False]
ef_000 [ True]
eg_000 [ True False]

In [53]:
df['ag_001'].describe()==test_data_merger_final_copy['ag_001'].describe()

count     True
mean      True
std      False
min       True
25%       True
50%       True
75%       True
max       True
Name: ag_001, dtype: bool

In [57]:
test_data_merger_final_copy.columns.tolist()

['aa_000',
 'ab_000',
 'ac_000',
 'ad_000',
 'ae_000',
 'af_000',
 'ag_000',
 'ag_001',
 'ag_002',
 'ag_003',
 'ag_004',
 'ag_005',
 'ag_006',
 'ag_007',
 'ag_008',
 'ag_009',
 'ah_000',
 'ai_000',
 'aj_000',
 'ak_000',
 'al_000',
 'am_0',
 'an_000',
 'ao_000',
 'ap_000',
 'aq_000',
 'ar_000',
 'as_000',
 'at_000',
 'au_000',
 'av_000',
 'ax_000',
 'ay_000',
 'ay_001',
 'ay_002',
 'ay_003',
 'ay_004',
 'ay_005',
 'ay_006',
 'ay_007',
 'ay_008',
 'ay_009',
 'az_000',
 'az_001',
 'az_002',
 'az_003',
 'az_004',
 'az_005',
 'az_006',
 'az_007',
 'az_008',
 'az_009',
 'ba_000',
 'ba_001',
 'ba_002',
 'ba_003',
 'ba_004',
 'ba_005',
 'ba_006',
 'ba_007',
 'ba_008',
 'ba_009',
 'bb_000',
 'bc_000',
 'bd_000',
 'be_000',
 'bf_000',
 'bg_000',
 'bh_000',
 'bi_000',
 'bj_000',
 'bk_000',
 'bl_000',
 'class',
 'bm_000',
 'bn_000',
 'bo_000',
 'bp_000',
 'bq_000',
 'br_000',
 'bs_000',
 'bt_000',
 'bu_000',
 'bv_000',
 'bx_000',
 'by_000',
 'bz_000',
 'ca_000',
 'cb_000',
 'cc_000',
 'cd_000',
 'ce_000',
 'cf_000',
 'cg_000',
 'ch_000',
 'ci_000',
 'cj_000',
 'ck_000',
 'cl_000',
 'cm_000',
 'cn_000',
 'cn_001',
 'cn_002',
 'cn_003',
 'cn_004',
 'cn_005',
 'cn_006',
 'cn_007',
 'cn_008',
 'cn_009',
 'co_000',
 'cp_000',
 'cq_000',
 'cr_000',
 'cs_000',
 'cs_001',
 'cs_002',
 'cs_003',
 'cs_004',
 'cs_005',
 'cs_006',
 'cs_007',
 'cs_008',
 'cs_009',
 'ct_000',
 'cu_000',
 'cv_000',
 'cx_000',
 'cy_000',
 'cz_000',
 'da_000',
 'db_000',
 'dc_000',
 'dd_000',
 'de_000',
 'df_000',
 'dg_000',
 'dh_000',
 'di_000',
 'dj_000',
 'dk_000',
 'dl_000',
 'dm_000',
 'dn_000',
 'do_000',
 'dp_000',
 'dq_000',
 'dr_000',
 'ds_000',
 'dt_000',
 'du_000',
 'dv_000',
 'dx_000',
 'dy_000',
 'dz_000',
 'ea_000',
 'eb_000',
 'ec_00',
 'ed_000',
 'ee_000',
 'ee_001',
 'ee_002',
 'ee_003',
 'ee_004',
 'ee_005',
 'ee_006',
 'ee_007',
 'ee_008',
 'ee_009',
 'ef_000',
 'eg_000']

In [55]:
test_data_merger_final_copy['ag_001'].describe()

count    5.932900e+04
mean     9.757223e+02
std      3.420053e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      4.109372e+06
Name: ag_001, dtype: float64

In [54]:
df['ag_001'].describe()

count    5.932900e+04
mean     9.757223e+02
std      3.420053e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      4.109372e+06
Name: ag_001, dtype: float64